[submodule "sucho-pvntsh.nung.edu.ua__index.php__index__oai"]
	path = sucho-pvntsh.nung.edu.ua__index.php__index__oai
	url = git@github.com:sucho-oai/sucho-pvntsh.nung.edu.ua__index.php__index__oai.git
